body {
    background-color: bisque;
    color: Black;
    align-content: center;
    text-align: left;
}
#message{
    align-content: center;
    text-align: center;
}
#endGame{
    align-content: center;
    text-align: center;
}
.selected{
    border: solid aqua 3px;
}
span:hover{
    cursor: pointer;
}
span.held{
    border: red solid 3px;
    pointer-events: none;
}
span{
    margin: 5px;
}
span.chicken{
    background-color: black;
    display: block;
    background-image: url("images/chicken.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
span.tank{
    background-color: black;
    display: block;
    background-image: url("images/tank.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}
span.cow{
    background-color: black;
    display: block;
    background-image: url("images/cow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
span.human{
    background-color: black;
    display: block;
    background-image: url("images/human.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
span.raygun{
    background-color: black;
    display: block;
    background-image: url("images/raygun.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#diceArea{
    display: flex;
    flex-flow: row;
    flex-direction: row;
}
#diceHolder{
    display: flex;
    flex-flow: row;
    flex-direction: row;
}

